@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('https://wallpapercave.com/wp/wp5565660.jpg');
}
.custom-button{
    background-color: black;
    color: white;
}

.custom-font-cursive{
    font-family: cursive;
}

@media screen {
    
}
.custom-video{
    margin: auto;
    width: 70vw;
    height: calc(70vw*9/16);
}

.app{
    min-height: 100vh;
}

.custom-capitalize {
  text-transform: lowercase !important;
}
.custom-capitalize::first-line{
  text-transform: capitalize !important;
}
.custom-font{
    color: #748899;
    font-size: 1rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    transition: color .2s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}