@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: url('https://wallpapercave.com/wp/wp5565660.jpg');
}
.custom-button{
    background-color: black;
    color: white;
}

.custom-font-cursive{
    font-family: cursive;
}

@media screen {
    
}
.custom-video{
    margin: auto;
    width: 70vw;
    height: calc(70vw*9/16);
}

.app{
    min-height: 100vh;
}

.custom-capitalize {
  text-transform: lowercase !important;
}
.custom-capitalize::first-line{
  text-transform: capitalize !important;
}
.custom-font{
    color: #748899;
    font-size: 1rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    transition: color .2s ease;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, rgb(18, 23, 95), rgb(61, 159, 225));
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }